/* input {
    font-family: 'Noto Sans KR', 'Noto Sans Korean', "Nanum Gothic", sans-serif !important;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    outline: none;
    font-size: 10px;
  }
  
  /* input::placeholder {
    color: #d9d9d9
  } */
  .loginInputBox2 {
    width: 80%;
    box-sizing: border-box;
    margin: 5px auto;
    position: relative;
  }
  
  .loginInputBox1 {
    width: 80%;
    box-sizing: border-box;
    margin: 5px auto;
    position: relative;
  }
  
  .loginInputBox2 label {
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 20px;
    padding: 5px;
    background: white;
    font-size: 12px;
    color: #888;
    font-weight: bold;
  }
  
  .loginInputBox1 label {
    display: none;
    position: absolute;
    top: 24px;
    left: 25px;
    padding: 5px;
    font-size: 14px;
    color: #888;
    /* font-weight: bold; */
  }
  
  .loginInputBox2 label span {
    color: #250200;
    vertical-align: -1px;
  }
  
  .loginInputBox1 label span {
    color: #979797;
    vertical-align: -1px;
  }
  
  .loginInputBox2 input {
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.45;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 16px;
    padding-left: 30px;
    margin-top: 12px;
  }
  
  .loginInputBox1 input {
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.45;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 16px;
    padding-left: 30px;
    margin-top: 12px;
  }

  .A img{
    width: 20px;
    display: inline-block;
    position: absolute;
    top: 1px;
    left: -5px;
    padding: 10px;
    font-size: 14px;
    color: #888;
    font-weight: bold;
  }

  .A{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 1px;
    padding: 10px;
    font-size: 14px;
    color: #888;
    font-weight: bold;
  }
  
  .loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .loginPage .logo {
    display: inline-flex;
  }
  
  .loginPage .loginInput{
    display: flex;
    align-items: flex-end;
  }
  
  .loginPage form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .logo img{
    width: 350px;
  }

  #loginPassword{
    margin-bottom: 20px;
  } 