.mypageBackground {
    
    background-color: #8F8F8F;
}
.mypage {
    position: relative;
    width: 1000px;
    height: 960px;
    left: 0px;
    top: 0px;
    margin: auto;
    line-height: 960px;
    
    background: #8F8F8F;
}

.mypage button {
    width: 450px;
    height: 450px;
    padding: 100px 100px;
    box-sizing: border-box;
}
.mypage .myD {
    fill: Solid #D9D9D9;
    stroke: Solid #000000;
    
    text-align: center;
    margin-right: 100px;
    
    display: inline-block;
}

.mypage .groupD {
    fill: Solid #D9D9D9;
    stroke: Solid #000000;
    
    text-align: center;
    display: inline-block;
    margin: 0 auto;
};

  /* TodoList -------------------- */
  .TodoListItem{
    display: flex;

  }

  .checkBox{
    display: flex;
  }

  .mypage img{
    width: 500px;
    height: 500px;
  }
  .todosList{
    list-style: none;
  }

  .todoListInputContainer{
    border-bottom: #000000;
  }


  .todoListInput{
    border: none;
    border-bottom: #000000;
  }

  .checkboxImg{
    width:15px;
  }

  /* 모달창스타일--------------------------------------------- */
  /* .modal 은 회색창 */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .modalBody는 모달이 뜨는 흰색 창 */
.modalBody {
  position: fixed;
  display: flex;
  width: 1200px;
  height: 700px;
  padding:40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.918);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.modalClose {
  position: absolute;
  right: 10px;
  left: 10px;
}

.modalImg{
  width: auto;
  height: 90%;
  display: block;
  background-color: #888;
}

.modalRight{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.modalRightHeader{
  display: flex;
  width: 600px;
  height: 50%;
  justify-content: space-around;
}

.modalRightHeaderRight{
  display: flex;
  width: 100px;
  justify-content: space-around;
}

#middleLine{
  width:90%;
  height: 1px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #000000;
}

.dairyContents{
  width:90%;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  line-height: 28px;
}

.boxbox{
  height: 1000px;
}

.modalCloseBtn{
  width: 70px;
}

 /* 교환일기(left) 모달창스타일------------------------------------ */
 .groupL_modalBody {
  position: fixed;
  display: flex;
  width: 1200px;
  height: 700px;
  padding:40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.918);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  /* flex-direction: column; */
  align-items: flex-start;
}

.groupL_modalClose {
  position: absolute;
  right: 10px;
  left: 10px;
}

.groupL_modalImg{
  width: 45%;
  height: 45%;
  display: block;
  background-color: #888;
  object-fit: cover;
}

.groupL_modalRight{
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-end;
}

.groupL_modalRightHeader{
  display: flex;
  width: 600px;
  height: 50%;
  justify-content: space-around;
}

.groupL_modalRightHeaderRight{
  display: flex;
  width: 100px;
  justify-content: space-around;
}

#groupL_middleLine{
  width:90%;
  height: 1px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #000000;
  
}

.groupL_dairyContents{
  display: flex;
  width:90%;
  height: 350px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  line-height: 28px;
}

.boxbox{
  height: 1000px;
}

.groupL_modalCloseBtn{
  width: 70px;
  margin-bottom: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* 교환일기(right) 모달창스타일------------------------------------ */